.sidebar-link {
    color: #000;
    transition: 0.3s;
}

.sidebar-link:hover {
    background: #f0f2f5;
}

.sidebar-link.active {
    background-color: #005686;
    border-radius: 90px;
    color: #fff;
}

.sidebar-link.active img {
    filter: invert(1);
}

.dashboard-profile {
    bottom: 30px;
    left: 0;
}