.divider {
    border-bottom: 4px solid rgba(52, 152, 219, 0.5)!important;
    border-radius: 30px;
}

.steps-cards {
    gap: 30px;
}

.steps-card {
    background: linear-gradient(180deg, #009cec 0%,#02699e 100%);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .steps-cards {
        flex-direction: column;
    }

    .divider {
        width: 40%;
    }
}