.about-us-title-bar {
    background: url('../../../assets/giordano-rossoni-LqBCBH7b1k8-unsplash.png') no-repeat center;
    height: 100vh;
    padding-top: 100px;
    margin-top: -120px;
    display: flex;
}