#filters-section {
    width: 25%;
}

.sort-by-filter {
    margin-bottom: 1rem;
}

.county-filter,
.domain-filter,
.participants-number-filter {
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1rem;
}

.county-filter *,
.domain-filter *,
.participants-number-filter * {
    font-family: 'Onest'!important;
}

.county-filter h5,
.domain-filter h5,
.participants-number-filter h5 {
    font-weight: 600;
}

@media (max-width: 500px) {
    #filters-section {
        width: 100%;
    }

    .county-filter,
    .domain-filter,
    .participants-number-filter {
        display: none;
    }
}