.dashboard-navbar {
    background: linear-gradient(90deg, rgb(0,86,134) 0%, rgb(1,158,244) 100%);
}

#basic-button {
    min-width: 10px!important;
    color: white;
}

.menu-icon {
    margin-right: 10px;
}

@media (min-width: 1025px) {
    .mobile-search {
        display: none;
    }
}

@media (max-width: 500px) {
    .profile,
    #basic-button,
    .search-bar {
        display: none;
    }

    .search-icon {
        font-size: 20px;
    }

    .nav-column-1 {
        width: auto;
    }
}