.register-form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 160px;
}

.register-form-section h1 {
    font-size: 30px;
}

.register-form-section p {
    color: #787878;
    margin-bottom: 1.7rem;
}

.register-form-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-logo {
    width: 80px;
    margin-bottom: 0.5rem;
}

.inputBox {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #f7f7f7;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.inputBox svg {
    width: 6%;
}

.inputBox input {
    border: none;
    width: 100%;
}

.register-form-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.register-btn {
    border: none;
    background-color: #178FD9;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
}

.login-link {
    text-align: center;
    color: black!important;
}

@media (max-width: 500px) {
    .register-form-section {
        height: 100vh;
        padding: 0 20px;
    }
}