.newsletter {
    background: url('../../../assets/newsletter.jpg') center 100% no-repeat;
}

.newsletter-submit {
    font-size: 16px;
    background: #178FD9;
    cursor: pointer;
}

@media (max-width: 768px) {
    #newsletter-section {
        padding: 30px 20px;
    }

    .newsletter {
        padding: 40px 30px;
        flex-direction: column;
        gap: 30px;
    }

    .newsletter-text,
    .newsletter-form {
        width: 100%;
    }

    .newsletter-text {
        text-align: center;
    }
}