#dashboard-cards {
    width: 75%;
}

.cards-row {
    margin-bottom: 15px;
}

#dashboard-cards .card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

.card-image {
    margin-bottom: 15px;
    border-radius: 10px;
}

.card-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.card-body {
    padding-bottom: 0;
}

.deadline {
    color: #6c757d;
}

.city,
.domain,
.participants-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.city svg,
.domain svg,
.participants-number svg {
    width: 30px;
    font-size: 22px;
    color: rgb(0,86,134);
}

.card-footer {
    background: white;
    border: none;
    padding: 1rem;
}

.sign-up-button {
    padding: 9px 16px;
    font-weight: 600;
    background: rgb(0,86,134);
    border: 1px solid rgb(0,86,134);
}

.pagination {
    float: right;
}

.pagination .page-item .page-link {
    border: none;
    color: rgb(0,86,134);
    border-radius: 10px;
}

.pagination .page-item.active .page-link {
    color: white;
    background: rgb(0,86,134);
}

@media (max-width: 425px) {
    #dashboard-cards {
        width: 100%;
    }
}