.desktopMenuItem,
.loginBtn {
    font-size: 16px;
    cursor: pointer;
}

.registerBtn {
    font-size: 16px;
    padding: 15px 20px;
    background: #178FD9;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .menu-button,
    .mobile-menu {
        display: none!important;
    }
}

@media (max-width: 768px) {
    .menu-button {
        font-size: 1.7rem;
    }

    .mobile-menu {
        top: 0;
        right: -350px;
        width: 350px;
        z-index: 1;
        box-shadow: -3px 0px 4px -2px;
        padding: 24px;
        overflow-y: hidden;
        transition: right 0.5s;
    }

    .mobile-menu.open {
        right: 0;
    }

    .mobile-menu .menu-items {
        gap: 5px;
    }

    .mobile-menu .sign-buttons {
        gap: 1.5rem;
    }

    .mobile-menu .menu-items li a,
    .mobile-menu .sign-buttons li a {
        font-size: 18px;
    }

    .close-button {
        font-size: 1.6rem;
    }
}