.blog-category-filter *,
.search-bar *,
.sort-by-filter * {
    font-family: 'Onest'!important;
}

.mobile-filter-button {
    width: 35%;
    background: rgb(0,86,134);
    border: 1px solid rgb(0,86,134);
}

.mobile-filter-button:hover {
    border: 1px solid rgb(0, 86, 134);
    background: transparent;
    color: rgb(0, 86, 134);
}

@media (min-width: 1024px) {
    .mobile-filter-button,
    .mobile-filters {
        display: none!important;
    }
}

@media (max-width: 500px) {
    #posts-filters-section,
    #post-cards-section {
        width: 100%!important;
    }

    .search-bar {
        margin-bottom: 1rem;
    }

    .sort-by-filter,
    .blog-category-filter {
        display: none;
    }

    .pagination {
        justify-content: center;
        float: initial;
    }

    .mobile-filters {
        top: 0;
        left: -360px;
        width: 350px;
        box-shadow: 3px 0px 4px -2px;
        padding: 24px;
        overflow-y: hidden;
        transition: left 0.5s;
    }

    .mobile-filters.open {
        left: 0;
    }
}