.hero-section {
    height: 105vh;
    background: linear-gradient(140deg, rgba(215,2,15,1) 0%, rgba(110,1,134,1) 60%, rgba(17,0,240,1) 100%);
    margin-top: -120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 120px 0;
}

.hero-text,
.hero-image {
    width: 45%;
}

.hero-text h1 {
    font-size: 50px;
    color: white;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 1rem;
}

.hero-text p {
    color: white;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 2.5rem;
}

.hero-button {
    border: none;
    font-size: 16px;
    padding: 15px 20px;
    background: #178FD9;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        padding: 150px 20px 70px;
        height: 100%;
        background-size: 100vh;
        gap: 50px;
    }

    .hero-text,
    .hero-image {
        width: 100%;
    }

    .hero-image {
        order: 0;
    }

    .hero-text {
        order: 1;
        text-align: center;
    }
}