.hero-section {
    height: 105vh;
    background: linear-gradient(140deg, rgba(215,2,15,1) 0%, rgba(110,1,134,1) 60%, rgba(17,0,240,1) 100%);
    margin-top: -120px;
    padding-top: 100px;
}

.hero-text,
.hero-image {
    width: 45%;
}

.hero-text h1 {
    font-size: 50px;
}

.hero-button {
    font-size: 16px;
    padding: 15px 20px;
    background: #178FD9;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        padding: 150px 20px 70px;
        height: 100%;
        background-size: 100vh;
        gap: 50px;
    }

    .hero-text,
    .hero-image {
        width: 100%;
    }

    .hero-text {
        text-align: center;
    }
}