.contests-button {
    font-size: 16px;
    background: #178FD9;
    width: 30%;
}

@media (max-width: 768px) {
    .contests-section {
        padding: 30px 20px;
        flex-direction: column;
        gap: 30px;
    }

    .contests-text {
        text-align: center;
    }

    .contests-button {
        align-self: center;
        width: 200px;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .contests-images {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .contests-images {
        grid-template-columns: 1fr;
    }
}