.login-form-section {
    padding: 0 160px;
}

.remember-me {
    font-family: 'Onest'!important;
}

.login-btn {
    background-color: #178FD9;
    font-size: 16px;
    cursor: pointer;
}

.separator {
    height: 1px;
}

.facebook-login {
    border-color: #0765FF!important;
    background-color: #0765FF;
}

.facebook-login svg,
.apple-login svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 500px) {
    .login-form-section {
        height: 100vh;
        padding: 0 20px;
    }
}