.about-us {
    background: linear-gradient(140deg, rgba(215,2,15,1) 0%, rgba(110,1,134,1) 60%, rgba(17,0,240,1) 100%);
}

.about-us-button {
    font-size: 16px;
    width: 30%;
}

@media (max-width: 768px) {
    #about-us-section {
        padding: 30px 20px;
    }

    .about-us {
        flex-direction: column;
        padding: 40px 30px;
        gap: 30px;
    }

    .about-us-text,
    .about-us-image {
        width: 100%;
    }

    .about-us-image {
        order: 0;
    }

    .about-us-text {
        order: 1;
        text-align: center;
    }

    .about-us-button {
        align-self: center;
        width: 200px;
    }
}