.last-post-section {
    height: 105vh;
    margin-top: -120px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding-top: 100px;
}

.last-post-image img {
    box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
}

.read-more-button {
    transition: 0.3s;
}

.read-more-button:hover {
    border: 2px solid white;
    background: white!important;
    color: #005686!important;
}

@media (max-width: 500px) {
    #last-post-section {
        flex-direction: column;
        padding: 150px 20px 0;
    }

    .last-post-details,
    .last-post-image {
        width: 100%;
    }

    .last-post-image {
        order: 0;
    }

    .last-post-image img {
        width: 100%;
    }

    .last-post-details {
        order: 1;
    }
}